.wrg.circles.jsCircles
    .circle-block.circle-block--one(href="#")
        span Content Marketing
    .circle-block.circle-block--two(href="#")
        span Corporate Social Responsibility
    .circle-block.circle-block--three(href="#")
        span Employee Engagement
