.wrg.circles{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    margin-bottom: 300px;
    .circle-block{
        width: 450px;
        height: 450px;
        border: 1px solid #000;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-decoration: none;
        color: #000;
        transform: translate3d(0, 0, 0);
        overflow: hidden;
        span{
            font-size: 40px;
            font-weight: 800;
            text-align: center;
            padding: 50px 80px;
        }
        &:first-child{
            margin-right: -30px;
        }
        &:last-child{
            margin-left: -30px;
        }
    }
}