.wrg.coffee{
    height: 100vh;
    .viewer{
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        max-width: 200px;
        width: 100%;
        background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/doodle-sprite.png);
        background-repeat: no-repeat;
        background-position: 0 50%;
    }
}