.wrg.boxes{
    min-height: 90vh;
    position: relative;
    box-sizing: border-box;
    .box{
        width: 50%;
        height: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) scale(0);
        &--1{
            background-color: red;
            z-index: 9;
        }
        &--2{
            background-color: green;
            z-index: 99;
        }
        &--3{
            background-color: blue;
            z-index: 999;
        }
        &--4{
            background-color: orange;
        }
    }
}