.wrg.gsap.gsap--to
    .gsap-to
        .gsap__logo.gsap__logo--left.gs_animate.gs_animate_fromLeft
            img(src="../images/gsap.png" width="200")
        .gsap__logo.gsap__logo--right.gs_animate_fromRight
            img(src="../images/gsap.png" width="200")
        .gsap__text.gs_reveal_fromLeft GSAP To Animation

.wrg.gsap.gsap--from
    .gsap-from
        .gsap__logo.gsap__logo--left
            img(src="../images/gsap.png" width="200")
        .gsap__logo.gsap__logo--right
            img(src="../images/gsap.png" width="200")
        .gsap__text.gs_reveal_fromLeft GSAP From Animation

.wrg.gsap.gsap--from-to
    .gsap-from-to
        .gsap__logo.gsap__logo--left
            img(src="../images/gsap.png" width="200")
        .gsap__logo.gsap__logo--right
            img(src="../images/gsap.png" width="200")
        .gsap__text.gs_reveal_fromLeft GSAP From To Animation