.wrg.gsap{
    min-height: 50vh;
    position: relative;
    overflow: hidden;
    .gsap__text{
        font-size: 40px;
        font-weight: 600;;
        text-align: center;
        position: absolute;
    }
    .gsap__logo{
        position: absolute;
        &--right{
            img{
                transform: scaleX(-1);
            }
        }
    }
    .gsap-to{
        .gsap__logo{
            top: 50%;
            left: -20%;
            transform: translateY(-50%);
            opacity: 0;
            &--right{
                left: auto;
                right: -20%;
            }
        }
        .gsap__text{
            left: 50%;
            bottom: -100%;
            transform: translate(-50%,-50%);
        }
    }
    .gsap-from{
        .gsap__logo{
            left: 25%;
            transform: translateY(-50%);
            &--right{
                left: auto;
                right: 25%;
            }
        }
        .gsap__text{
            left: 37%;
            bottom: 50%;
            transform: translate(-50%,-50%);
        }
    }
}
body.gsap{
    min-height: 5000px;
}