.wrg.flip{
    background-color: #000;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .flip__letter{
        color: #fff;
        text-align: center;
        font-size: 10vmax;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px 6px;
        &--f {
            background: rgba(0, 188, 212, 0.7);
          }
        &--l {
            background: rgba(40, 150, 255, 0.7);
          }
        &--i {
            background: rgba(153, 80, 220, 0.7);
          }
        &--p {
            background: rgba(90, 108, 225, 0.7);
          }
    }
    .flip__label{
        font-size: 5vmax;
        color: white;
        &--for{
            padding: 2px 1.6vmax;
            font-weight: 300;
            display: none;
        }
        &--gsap{
            padding: 2px 0;
            font-weight: 600;
            display: none;
        }
    }
    .grid,.columns {
        align-content: stretch;
        align-items: stretch;
        flex-wrap: wrap;
    }
    &.final{
        .flip__label--for,.flip__label--gsap{
            display: block;
        }
    }
    &.column{
        .flip__letter{
            flex-basis: 25%;
        }
    }
    &.grid{
        .flip__letter{
            flex-basis: 49%;
        }
    }
}