.wrg.flip
    .flip__letter.flip__letter--f F
    .flip__letter.flip__letter--l L
    .flip__letter.flip__letter--i I
    .flip__letter.flip__letter--p P
    .flip__label.flip__label--for for
    .flip__label.flip__label--gsap GSAP