.wrg.header {
	background: #000;
	.header__wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: rem(10) 0;
	}
	h1 {
		margin: 0;
	}
	.header__nav {
		ul {
			li {
				list-style: none;
				display: inline-block;
				margin: 0 rem(10);
			}
		}
		a {
			color: #fff;
			text-decoration: none;
			&.active {
				color: #e4675b;
			}
		}
	}
}