ul, ol {
	margin:0;
	padding:0;
	li {
		list-style: none;
	}
}
p {
	@include font-size(16px, 18px);
	margin:0 0 rem(20);
	&:last-of-type {
		margin: 0;
	}
	&:empty {
		display:none;
	}
}
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 rem(20);
}
a {
	&:active {

	}
	&:hover {

	}
}
.d-flex{
	display: flex;
	flex-wrap: wrap;
}
.justify-center{
	justify-content: center;
}
.justify-between{
	justify-content: space-between;
}
.align-center{
	align-items: center;
}