extend ../pagelayout/home
block variables
	-var active = 'Scroll Reveal'
	-var bodyClass = 'theme--default'
block story
	include ../components/story/story.pug
	include ../components/circle/circle.pug
