.wrg.scroll-image{
    height: 400vh;
    .delayed-section{
        position: absolute;
        width: 30vw;
        height: 38.87vw;
    }
    .scroll-image{
        &--1{
            top: 41vh;
            left: 10vw;
        }
        &--2{
            top: 60vh;
            left: 30vw;
        }
        &--3{
            top: 40vh;
            left: 60vw;
        }
    }
}