.wrg.scroll-image
    .scroll-image--1.delayed-section(data-scrub='0.4')
        .image__container
            img(width='575' src='https://picsum.photos/575/745?index=1' alt='')
    .scroll-image--2.delayed-section(data-scrub='0.2')
        .image__container
            img(width='575' src='https://picsum.photos/575/745?index=2' alt='')
    .scroll-image--3.delayed-section(data-scrub='0.6')
        .image__container
            img(width='575' src='https://picsum.photos/575/745?index=3' alt='')