.wrg.text
    .container
        h1.text__heading Heat roasted peanuts
        p.text__intro Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi quos consequatur, ipsum autem voluptates dolorum error neque quia at, provident doloremque! Vel vitae molestias nulla repellendus commodi, facere rem at?
    .text__bg