.wrg.text{
    padding: 50px 0;
    .container{
        min-height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    h1{
        font-size: 60px;
        font-weight: 800;
    }
    .text__bg{
        background-color: #000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}