.wrg.comparison{
    position: relative;
    height: 100vh;
    .comparison__image{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
        }
        &--after{
            transform: translate(100%, 0px);
            overflow: hidden;
            img{
                transform: translate(-100%, 0px);
            }
        }
    }
}