.wrg.comparison
  .comparison__image.comparison__image--before
    img(src='https://assets.codepen.io/16327/before.jpg' alt='before')
  .comparison__image.comparison__image--after
    img(src='https://assets.codepen.io/16327/after.jpg' alt='after')
