include _mixin
-var page = ''
-var bodyClass = ''
-var pagetitle = ''
-var sitetitle = ''
block variables
doctype html
html.no-js.loading(dir=lang == 'ar' ? 'rtl' : 'ltr')
  head
    title WRG
    link(rel="shortcut icon", href="favicon.ico", type="image/vnd.microsoft.icon")
    meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name='keywords', content='WRG')
    meta(name='description', content="WRG")
    meta(property="og:image", content="")
    meta(property="og:title" content="")
    meta(property="og:url" content="")
    meta(property="og:site_name" content="")
    meta(name="format-detection" content="telephone=no")

    include _styleLinks
    block stylelinks

    block head
  body.no-js(dir=lang == 'ar' ? 'rtl' : 'ltr', class=bodyClass)
    #page-wrap
      block header
      block body
      block footer
      script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/ScrollTrigger.min.js")
      script(src="https://assets.codepen.io/16327/Flip.min.js")
      script(src="https://assets.codepen.io/16327/SplitText3.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js")
    
    include _scriptLinks
    block foot