.wrg.story {
    padding: 40px 0px;
    .square{
        width: 100%;
        height: 100%;
        min-height: 300px;
        border-radius: 10px;
        background-color: #d5d5d5;
        border:1px solid #999;
        font-size: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:not(:last-child){
            margin-bottom: 90vh;
        }
    }
    .list-block{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        min-height: rem(200);
        margin: 0 -20px;
        .list-block__image,.list-block__text{
            flex-basis: 50%;
            height: 100%;
            margin: 0 -20px;
        }
        &:not(:last-child){
            margin-bottom: rem(50);
        }
    }
}
