.wrg.story
    .container
        .list-wrap
            .list-block
                .list-block__image
                    .square.square--blue.gs_reveal.gs_reveal_fromLeft 1
                .list-block__text.gs_reveal
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea fuga tenetur eius incidunt iste ut maiores in sunt eaque officiis corrupti architecto iusto, possimus soluta dolorem eum praesentium error saepe.
            .list-block
                .list-block__text.gs_reveal
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea fuga tenetur eius incidunt iste ut maiores in sunt eaque officiis corrupti architecto iusto, possimus soluta dolorem eum praesentium error saepe.
                .list-block__image
                    .square.square--green.gs_reveal.gs_reveal_fromRight 2
            .list-block
                .list-block__image
                    .square.square--red.gs_reveal.gs_reveal_fromLeft 3
                .list-block__text.gs_reveal
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea fuga tenetur eius incidunt iste ut maiores in sunt eaque officiis corrupti architecto iusto, possimus soluta dolorem eum praesentium error saepe.
            .list-block
                .list-block__text.gs_reveal
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea fuga tenetur eius incidunt iste ut maiores in sunt eaque officiis corrupti architecto iusto, possimus soluta dolorem eum praesentium error saepe.
                .list-block__image
                    .square.square--green.gs_reveal.gs_reveal_fromRight 4
            .list-block
                .list-block__image
                    .square.square--red.gs_reveal.gs_reveal_fromLeft 5
                .list-block__text.gs_reveal
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea fuga tenetur eius incidunt iste ut maiores in sunt eaque officiis corrupti architecto iusto, possimus soluta dolorem eum praesentium error saepe.