header.wrg.header
  .container
      .header__wrap
          h1 
            img(src="https://whiterabbit.group/images/whiterabbit-logo.svg")
          nav.header__nav
            ul
              +menu('Scroll Reveal', '/')
              +menu('Image Comparison', 'image-comparison.html')
              +menu('Coffee Drink', 'coffee-drink.html')
              +menu('Scroll Image', 'scroll-image.html')
              +menu('Flip', 'flip.html')
              +menu('Gsap', 'gsap.html')
              +menu('Text', 'text.html')
              +menu('Box', 'box.html')